{% extends "base.html" %}
{% block content %}

<h2>{% if section %}Edit Section{% else %}Add Section{% endif %}</h2>

<div class="card">
    <form method="post">
        {% csrf_token %}
        {% if selected_session %}
            <input type="hidden" name="filter_session" value="{{ selected_session.id }}">
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a href="{% url 'section_list' %}">Back to Section List</a>
    </form>
</div>

{% endblock %}
