{% extends 'base.html' %}

{% block content %} 
<h1>Collect Student Fee</h1>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>Student:</label>
        <select name="student" required>
            {% for student in students %}
            <option value="{{ student.id }}">
                {{ student.first_name }} {{ student.last_name }}
            </option>
            {% endfor %}
        </select>

        <br><br>

        <label>Amount:</label>
        <input type="number" name="amount" required>

        <br><br>

        <label>Note:</label>
        <textarea name="note"></textarea>

        <br><br>

        <button type="submit">Save Payment</button>
    </form>
{% endblock %}
